*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Archivos de configuración de IDE (Android Studio / IntelliJ)
.gradle
.idea/
local.properties
*.iml

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.old
.kotlin/

# Archivos de Build (¡Muy importante!)
build/

# Archivos de Keystore (¡NO SUBIR!)
*.jks
*.keystore